vti_encoding:SR|utf8
vti_textextensions:SX|.txt.
vti_extenderversion:SR|2.0.2.1104
vti_httpdversion:SX|FrontPage-PWS32/2.0.2.1104
vti_longfilenames:IX|1
vti_htmlextensions:SX|.htm.htx.asp.html.
vti_defaultcharset:SR|iso-8859-1
vti_webservertype:SR|frontpage
vti_restartmanual:IX|0
vti_dependenciesood:IR|0
vti_defaultlanguage:SR|en
vti_timecreated:TR|22 Nov 1996 10:18:53 -0800
vti_casesensitiveurls:IX|0
vti_oldestcompatibleversion:SR|2.0.0.0
vti_welcomenames:VX|index.htm
vti_featurelist:VX|vti_ACGroups
